.landing-page {
    position: relative;
    padding: 200px 0 0 0;
    height: 75vh;
    width: 100%;
    max-width: $breakpoint-large;
    margin: auto;
    text-align: center;

    #first-title {
        position: absolute;
        z-index: -1;
        right: 3%;
        top: 50vh;
        text-align: end;
        font-size: clamp(30px, 12vw, 150px);
        font-weight: bolder;
        line-height: 0.8;
        background: -webkit-linear-gradient(rgba(16,16,16,1), rgba(21,21,21,1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        @include select();

        @media #{$max-width-s} {
            top: 70vh;
        }
    }

    h2 {
        position: absolute;
        left: 5%;
        top: 30vh;
        color: $color-white;
        @media #{$max-width-s} {
            top: 20vh;
            left: 10%;
        }
    }

    .synopsis {
        position: absolute;
        top: 37vh;
        padding: 0 45% 0 5%;
        margin-top: 0;
        color: $color-font-dark;
        @media #{$max-width-s} {
            font-size: $font-size-m;
            top: 30vh;
            left: 10%;
            padding: 0 10% 0 0;
        }
    }

    .btn {
        position: absolute;
        top: 55vh;
        left: 10%;
        @media #{$max-width-s} {
            top: 65vh;
        }
    }
}

section {
    width: 100vw;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
    
    h2 {
        color: $color-white;
        padding-bottom: 30px;
        @media #{$max-width-s} {
            font-size: $font-size-l;
        }
    }
    p {
        max-width: $breakpoint-large;
        color: $color-font-dark;
        font-size: $font-size-m;
        padding: 30px 100px;
        text-align: justify;
        @media #{$max-width-s} {
            font-size: $font-size-s;
        }

        @media #{$max-width-l} {
            padding: $font-size-m 10%;
        }
    }
}
