// ========================================================================
// Colors
// ========================================================================
// $color-bg: #141619 !default;
$color-bg: rgb(7,7,7) !default;
// $color-bg-dark: #1a1414 !default;
$color-primary: rgb(200, 63, 52) !default;
$color-secondary: rgb(150, 49, 43) !default; 
$color-tertiary: rgb(21,21,21) !default;
$color-primary-gradient: linear-gradient(169deg, rgb(134, 44, 38) 0%, rgb(150, 49, 43) 100%);
$color-white: #FFFFF0 !default;
$color-black: #141619 !default; 
$color-infinit-heandband: #FFFFF0 !default;
$color-navbar: #ffffff31 !default;
$color-hamburger: #ffffffdb !default;
// $color-hamburger-dark: #c0c0c0e3 !default;

$color-font: #333 !default;
$color-font-dark: #abadaf !default;
$color-font-selection: #141619 !default;
$color-link: #491aa9 !default;
$color-link-hover: #abadaf !default;
$color-link-global: rgba(200, 62, 52, 0.5);
$color-link-global-hover: rgba(200, 62, 52, 0.75);
$color-danger: #96312b !default;
$color-danger-hover: #c63f34 !default;
$color-succes: #367131 !default;

$box-shadow: 0 2px 6px #00000052;
$box-shadow-right: 4px 0px 6px -2px #0000001a;
$kg--box-shadow: 5px 5px 20px #00000026;
$box-shadow-white: 1px 1px 30px rgba(255, 255, 255, 0.1);
$box-shadow-red: 1px 1px 30px rgba(200, 63, 52, 0.3);


// ========================================================================
// Font - family - sizes
// ========================================================================
$font-family: 'Roboto', Arial, Courier, monospace !default;
$letter-spacing: 0.17em !default;
$line-height: 1.5 !default;

$font-size-global: 100%;
$font-size-s: 0.75rem !default;
$font-size-m: 1rem !default;
$font-size-l: 1.125rem !default;
$font-size-xl: 1.5rem !default;

$font-weight-n: 200;
$font-weight-b: bold;
$font-weight-ber: bolder;

$size-logo-text: 1.875rem;
$size-logo-text-mq: 1.375rem;
$size-link: $font-size-m;
$size-hamburger: 1.56rem;
$size-404: 50px;
$size-404-phone: 35px;


// ========================================================================
// Breakpoints - Layout
// ========================================================================
$breakpoint-xsmall: 430px !default;
$breakpoint-small: 800px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;

$max-width-xs: "screen and (max-width: #{$breakpoint-xsmall})";
$max-width-s: "screen and (max-width: #{$breakpoint-small})";
$max-width-m: "screen and (max-width: #{$breakpoint-medium})";
$max-width-l: "screen and (max-width: #{$breakpoint-large})";
$max-width-xl: "screen and (max-width: #{$breakpoint-xlarge})";


// ========================================================================
// Border - border-radius
// ========================================================================
$border: 1px solid $color-black !default;
$border-r: 10px !default;

// ========================================================================
// Animations
// ========================================================================
$transition: all .4s ease-out !default;
$rotated: 135deg;