.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin-top: 200px;

    .wrapper {
        width: 50%;
        display: block;
        background: transparent;
        border: 2px solid $color-primary;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: $box-shadow-white;
        border-radius: 10px;
        padding: 15px 30px;

        @media #{$max-width-s} {
            width: 100vw;
            height: 100vh;
            border: none;
        }

        .wrapper-contain {
            @media #{$max-width-s} {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            h2 {
                font-size: 36px;
                text-align: center;
                color: $color-primary;
                @media #{$max-width-s} {
                    font-size: $font-size-s;
                }
            }
    
            form {
                padding-top: 20px;
                text-align: center;
                @media #{$max-width-s} {
                    padding-top: 15px;
                }
            }
        }
    }
}


.form-field {
    position: relative;
    z-index: 0;
    padding-top: 20px;
    font-family: "Source Code Pro";
    font-size: 22px;
    width: 350px;
    text-align: center;
    left: 50%;
    transform: translateX(-53%);
    @media #{$max-width-s} {
        padding-top: 5px;
        font-size: $font-size-s;
        width: 250px;
    }

    input, 
    textarea {
        width: 100%;
        padding: 7px;
        border: 1px solid $color-primary;
        background: transparent;
        border-radius: 5px;
        outline: none;
        font-size: 1em;
        color: $color-primary;

        &:valid ~ label,
        &:focus ~ label {
            transform: translateX(15px) translateY(-10px);
            font-size: 0.65em;
            padding: 0 10px;
            background: $color-primary;
            color: $color-bg;
            border-radius: 4px;
            letter-spacing: 1px;

            @media #{$max-width-s} {
                transform: translateX(15px) translateY(-7px);
            }
        }
    }
    // i {
    //     position: absolute;
    //     right: -30px;
    //     transform: translateY(35%);
    //     font-size: 25px;
    //     color: $color-primary;

    //     @media #{$max-width-s} {
    //         transform: translateY(20%);
    //     }
    // }

    label {
        position: absolute;
        left: 0;
        padding: 8px;
        pointer-events: none;
        font-size: 1em;
        color: $color-primary;
        transition: 0.5s;

        @media #{$max-width-s} {
            padding: 7px;
        }
    }
}