%link {
    color: $color-font;
    text-decoration : none;
    transition: 0.3s ease-out;
    font-size: $size-link;

    @media #{$max-width-s} {
        font-size: $font-size-s;
    }

    &:visited {
        color: $color-font;
    }
}

.text-links {
    color: $color-font-dark;
    text-decoration : none;
    background-image: linear-gradient(transparent calc(50% - 5px), $color-link-global calc(50% - 5px));
    background-size: 100% 200%;
    background-position: 0 0;
    transition: all 0.3s ease-out 0s;
    &:hover {
        color: $color-link-hover;
        background-image: linear-gradient(transparent calc(50% - 5px), $color-link-global-hover calc(50% - 5px));
        background-position: 0 100%;
    }

    &:visited {
        color: $color-font-dark;
    }

}

.footer-links {
    @extend %link;
    &:hover {
        color: $color-link-hover;
    }
}