.white-section {
    background: $color-white;
    
    h2 {
        max-width: $breakpoint-large; 
        color: $color-black;
    }

    p {
        color: $color-font !important;

        a {
            color: $color-font !important;
        }
    }

    

    ::selection {
        color: $color-white;
        background: $color-black;
    }
    ::-moz-selection {
        color: $color-white;
        background: $color-black;
    }
    ::-webkit-selection {
        color: $color-white;
        background: $color-black;
    }
}


#footer-call-to-action {
    padding-top: 30px;
}